<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mickey_Engine.project" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Mickey_Engine.project>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="SavingPath" serializeAs="String">
                <value>%appdata%/Mickey Engine/[project_name]</value>
            </setting>
        </Mickey_Engine.project>
    </userSettings>
</configuration>